<ion-content #content>
  <div class="mainContent">
    <div class="restContent">
      <div class="btnss">
        <img src="/assets/Dessert's Trilogy logo.jpeg" alt="" class="shop_logo" />
        <ion-label class="moreInfo" >Dessert's Trilogy</ion-label>
        <div class="userPhoto" [style.backgroundImage]="'url('+ profile +')'" *ngIf="profile"></div>
        <div class="userPhoto" [style.backgroundImage]="'url(/assets/user.png)'" *ngIf="!profile"></div>
      </div>
    </div>
    <div class="foodsContent">
      <ion-label class="restname">Top Categories</ion-label>
      <!-- <ion-label class="restname">{{name}}</ion-label>
      <ion-label class="cusine">{{getCusine(cusine)}}</ion-label> -->
      <div class="div_searchbar">
        <ion-searchbar
          animated="true"
          mode="ios"
          [placeholder]="('Search') || '&nbsp;'"
          (ionChange)="onSearchChange($event)"
          [debounce]="250"
          class="search_bar"
        ></ion-searchbar>
      </div>
      <div class="vegSection"></div>
      <div *ngFor="let item of dummy">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="showSearch">
        <div class="card_div">
          <div class="card" *ngFor="let item of foods;let i = index">
            <div class="mainCat">
              <div class="image-div-wrapper"  (click)="indetails(i)">
                <img [src]="item.cover" alt="" class="image_div" />
              </div>
              <div class="desc_div" (click)="indetails(i)">
                <ion-label class="heading_lbl">{{item.name}}</ion-label>
                <!-- <ion-label class="small_lbl desc">{{item.desc}}</ion-label> -->
                <ion-label class="small_lbl"
                  >{{getCurrency()}} {{item.price}}</ion-label
                >
              </div>
              <div class="cartBtn" *ngIf="item.quantiy <= 0">
                <ion-label class="btns" (click)="add(i)">Add</ion-label>
              </div>
              <div class="cartBtn2" *ngIf="item.quantiy > 0">
                <ion-button (click)="removeQ(i)" fill="clear" size="small">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
                <p class="qunitity">{{item.quantiy}}</p>
                <ion-button (click)="addQ(i)" fill="clear" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showSearch == false">
        <div *ngFor="let cate of categories">
          <ion-label class="cateTitle" [id]="cate.id">{{cate.name}}</ion-label>
          <div class="card_div">
            <div class="card" *ngFor="let item of foods;let i = index">
              <div *ngIf="cate.id == item.cid.id" class="mainCat" >
                <div class="image-div-wrapper" (click)="indetails(i)">
                  <img [src]="item.cover" alt="" class="image_div" />
                </div>
                
                <div class="desc_div" (click)="indetails(i)">
                  <ion-label class="heading_lbl">{{item.name}}</ion-label>
                  <!-- <ion-label class="small_lbl desc">{{item.desc}}</ion-label> -->
                  <ion-label class="small_lbl"
                    >{{getCurrency()}} {{item.price}}</ion-label
                  >
                </div>
                <div class="cartBtn" *ngIf="item.quantiy <= 0">
                  <ion-label class="btns" (click)="add(i)">Add</ion-label>
                </div>
                <div class="cartBtn2" *ngIf="item.quantiy > 0">
                  <ion-button (click)="removeQ(i)" fill="clear" size="small">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                  <p class="qunitity">{{item.quantiy}}</p>
                  <ion-button (click)="addQ(i)" fill="clear" size="small">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-popover></app-popover> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentPopover($event)">
    <ion-fab-button color="light" mode="ios">
      <ion-icon name="list" color="primary"></ion-icon>
      <ion-label color="primary">Menu</ion-label>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="totalItem >0">
  <ion-toolbar color="primary">
    <ion-label color="light">{{totalItem}} ITEM</ion-label>
    <ion-label color="light">
      {{getCurrency()}} {{totalPrice}} plus taxes</ion-label
    >
    <ion-button (click)="viewCart()" slot="end" fill="clear" color="light">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      View Cart
    </ion-button>
  </ion-toolbar>
</ion-footer>
