<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button mode="md"></ion-back-button>
      </ion-buttons>
      <ion-title>Payments</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="header">
      <ion-label class="title">Select your payment method</ion-label>
    </div>
    <div class="hold-img">
      <img src="/assets/imgs/Wavy_Tech-31_Single-01.jpg" />
    </div>
    
    <div class="p-method">
    <ion-item (click)="openStripe()">
      <ion-thumbnail slot="start">
        <img src="/assets/stripe.png" />
      </ion-thumbnail>
      <ion-label>Pay with Stripe</ion-label>
      <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
  
  <div class="p-method">
    <ion-item (click)="placeOrder()">
      <ion-thumbnail slot="start">
        <img src="/assets/cod.png" />
      </ion-thumbnail>
      <ion-label>Cash on Delivery</ion-label>
      <ion-icon mode="ios" name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
  </ion-content>